db.sqlite3
.idea/
orrblog/blog/__pycache__/
orrblog/blog/migrations/__pycache__/
orrblog/blog/templatetags/__pycache__/
orrblog/media/markdownx/
orrblog/orrblog/__pycache__/

media/markdownx
static/blog
datadump.json
