body {
    font-family: Georgia, Roboto, serif;
    font-size:110%
}
pre {
    font-family: Fira Code, serif;
    font-size:90%
}
.navbar {
    margin:0 auto;
    width:400px;
    font-size:110%;
}
img {
    width:400px;
}

.codehilite {
    padding:10px;
}

#header > a {
    color: #ad0000;
}

a {
    color: #212529;
}

a:hover {
    color: #003269;
    text-decoration:None;
}

.type {
    background-color: #efefef;
    margin-bottom: 0;
    padding: 10px;
}
.type p {
    margin-bottom:0;
}

.blog-content {
    padding-bottom:50px;
    /*margin-bottom:20px;*/
}
.pagination > a {
    font-family: Fira Code , serif;
    color: #ad0000;
}

.hidden {
    display:none;
}

.header-links {
    position: relative;
    top: -5px;
    left: 5px;
}

.form-control:focus {
    outline: 0;
    border: 1px solid #e0e0e0;
    box-shadow: none;
}

textarea {
    min-height:500px;
}

/*input, textarea {*/
  /*outline: none;*/
/*}*/

/*textarea:focus, input:focus, .uneditable-input:focus {*/
    /*border-color: rgba(229, 103, 23, 0.8) !important;*/
    /*!*box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6) !important;*!*/
    /*border: 0;*/
    /*box-shadow:none;*/
    /*outline: none !important;*/
/*}*/